[tool.poetry]
name = "glocaltokens"
version = "0.3.0"
authors = ["Ilja Leiko <leikoilja@gmail.com>"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Typing :: Typed",
]
description = "Tool to extract Google device local authentication tokens in Python"
keywords = [
    "Authentication",
    "Google Home",
    "Google",
    "LocalAuthenticationTokens",
]
include = ["glocaltokens/py.typed"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/leikoilja/glocaltokens"
repository = "https://github.com/leikoilja/glocaltokens"

[tool.poetry.dependencies]
gpsoauth = "^1.0.0"
grpcio = "1.31.0"
grpcio-tools = "1.31.0"
python = "^3.8"
requests = "^2.25.1"
simplejson = "^3.17.2"
zeroconf = ">=0.28.8,<0.30.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
Faker = "^8.0.0"
flake8 = "^3.9.0"
flake8-bugbear = "^21.4.3"
flake8-comprehensions = "^3.4.0"
flake8-simplify = "^0.14.0"
flake8-use-fstring = "^1.1"
grpc-stubs = "^1.24.6"
ipdb = "^0.13.7"
isort = "^5.8.0"
mock = "^4.0.3"
mypy = "^0.812"
pre-commit = "^2.12.0"
pylint = "^2.7.4"
pytest = "^6.2.3"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/leikoilja/glocaltokens/issues"
"Release Notes" = "https://github.com/leikoilja/glocaltokens/releases"

[tool.pylint.master]
extension-pkg-whitelist = [
    "_socket",
]
ignore = ["google"]

[tool.pylint.basic]
good-names = [
    "zc",
]

[tool.pylint.format]
max-line-length = 88
min-similarity-lines = 7

[tool.pylint.messages_control]
# Reasons disabled:
# too-many-* - are not enforced for the sake of readability
# too-few-* - same as too-many-*
disable = [
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-instance-attributes",
    "too-many-locals",
]

[tool.isort]
profile = "black"
force_sort_within_sections = true
combine_as_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
