name: Build the package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ["3.8", "3.9"]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out the repository
        uses: actions/checkout

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry
        with:
          poetry-version: 1.1.5

      - name: Install dependencies
        run: poetry install

      - name: Test package building
        run: |
          poetry build
