name: Publish to PyPI

concurrency: release

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Prepare and install deps
        uses: ./.github/actions/install-deps

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        run: uv publish
