name: Publish to PyPI

on:
  release:
    types: [published]

env:
  RUNS_ON: ubuntu-latest

jobs:
  publish:
    name: Publish
    strategy:
      matrix:
        python-version: ["3.9"]
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Prepare and install deps
        uses: ./.github/actions/install-deps
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set version
        run: poetry version $(git describe --tags --abbrev=0 | sed -e "s/^v//")

      - name: Build package
        run: poetry build

      - name: Publish to PyPI
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish
